video#videobg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("") no-repeat;
    background-size: cover;
    transition: 1s opacity;
    -webkit-filter: blur(10px) grayscale(100%);
    -moz-filter: blur(10px) grayscale(100%);
    -o-filter: blur(10px) grayscale(100%);
    -ms-filter: blur(10px);
    filter: blur(10px) grayscale(100%);
}

.center{
    position: relative;
    top: 35vh;
}

.horizontalcenter{

}
.panel-body{

}

.panel-heading{

}
