body{
    background-image: url('../img/hisfa_bg_blur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.center{
    position: relative;
    top: 35vh;
}

.horizontalcenter{

}
.panel-body{

}

.panel-heading{

}
