@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:900');

/* GLOBAL CSS */

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style-type: none;
}

input, button{
    border: none;
    outline: none;
}

html{
    font-family: "Lato";
    height: 100%;
}

body{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.dot{
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 15px 0 10px;
    background-color: #000;
}

.dot.green{
    background-color: #00db4c;
}

.dot.bluegreen{
    background-color: #4ebda9;
}

.dot.orange{
    background-color: #e18b5c;
}

.dot.yellow{
    background-color: #eddb48;
}

.dot.blue{
    background-color: #5aa4ce;
}

.dot.purple{
    background-color: #7d4080;
}

.dot.white{
    background-color: #fff;
}

/* SHARED LAYOUT (NAV, HEADER, MAIN) */

header{
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    transition: left 1s ease-out;
}

header .logo{
    display: block;
    width: 150px;
    height: 40px;
    margin: 17px 10px;
    background-image: url(../img/hisfaname.png);
    background-size: 100% auto;
    background-position: center;
    opacity: 0.6;
}

header .nav_button{
    width: 50px;
    height: 100%;
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 7px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
}

header .nav_button span{
    position: absolute;
    display: block;
    left: 0;
    float: right;
    height: 7px;
    width: 45px;
    background: #000;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

header .nav_button span:nth-child(1){
    top: 0px;
}

header .nav_button span:nth-child(2){
    top: 18px;
}

header .nav_button span:nth-child(3){
    top: 36px;
}

header .nav_button.open span:nth-child(1){
    top: 16px;
    transform: rotate(135deg);
}

header .nav_button.open span:nth-child(2){
    opacity: 0;
    left: 60px;
}

header .nav_button.open span:nth-child(3){
    top: 16px;
    transform: rotate(-135deg);
}

nav{
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: calc(100% - 80px);
    transition: left 1s ease-out;
    background-color: #d4d4d4;
}

nav ul{
    display: flex;
    flex-direction: column;
}

nav ul li{
    display: flex;
    flex-direction: row;
    height: 50px;
}

nav ul li a{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    line-height: 50px;
    margin: 5px 15px;
    font-size: 1.2em;
    color: #2F2F2F;
}

nav ul li a:hover{
    background-color: #b0b0b0;
}

nav .profile_link{
    height: 75px;
}

nav .profile_link a{
    border-bottom: 2px solid #454545;
    color: #454545;
    padding: 5px 0 10px 0;
    height: 50px;
}

nav .profile_link a:hover{
    background: none;
}

nav .profile_link img{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    border-radius: 50%;
}

nav .profile_link span{
    display: block;
    height: 50px;
    margin-left: 10px;
    line-height: 50px;
    font-size: 1.3em;
    font-weight: bolder;
}

nav .settings_link{
    border-top: 2px solid #454545;
    margin: 15px;
}

nav .settings_link a{
    border: none;
    margin: 10px 0;
}

nav .settings_link span{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 20px;
    width: 20px;
    margin: 0px 10px;
    background-image: url(../img/settings-icon.png);
    background-size: cover;
}

main{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    height: calc(100% - 90px);
    width: calc(100% - 30px);
    margin: 10px;
    padding: 5px 4px 5px 5px;
    background-color: rgba(141, 144, 148, 0.35);
    overflow-y: auto;
    transition: left 1s ease-out;
}

main::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-track {
    background-color: rgba(122, 136, 145, 0.3);
}

main::-webkit-scrollbar-thumb {
    background-color: rgba(7, 8, 12, 0.3);
}

/* DASHBOARD SHARED CODE*/

.title{
    position: relative;
}

section{
    display: block;
}

section .title{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    line-height: 38px;
    background-color: #54626d;
    color: #fff;
}

section:first-child .title{
    margin-top: 0;
}

section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

section ul li{
    width: calc(50% - 2.5px);
    margin: 2.5px 0;
    color: #fff;
    overflow: hidden;
}

section ul li div{
    background-color: #54626d;
}

section ul li p{
    display: block;
    margin: 0;
    background-color: #54626d;
    text-align: center;
}

/* DASHBOARD SECTION SPECIFIC*/

section.waste_silos ul li:last-child, section.resources ul li:last-child{
    flex-grow: 1;
    min-width: calc(50% - 2.5px);
}

section.logs{
    order: 5;
}

section.logs ul{
    margin-top: 2px;
}

section.logs ul li{
    width: 100%;
    margin: 0.5px 0;
}

section.foam_stock .title a{
    position: relative;
    display: flex;
    height: 100%;
    margin: 0;
    color: #fff;
}

section.foam_stock .title p{
    position: absolute;
    right: 55px;
    margin: 0;
}

section.foam_stock .title button{
    position: absolute;
    height: 100%;
    width: 35px;
    right: 0;
    margin-right: 10px;
    background: url(../svg/down.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

section.foam_stock .title ul{
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 40px;
    max-height: 250px;
    overflow-y: scroll;
    width: 200px;
    list-style: none;
}

section.foam_stock .title ul li{
    width: calc(100% - 5px);
    margin: 0;
    padding: 5px 0;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #90a3b0;
    color: #54626d;
    cursor: pointer;
}
section.foam_stock .title ul li:hover{
    background-color: #6a8bac;
    color: #fff;
}

section.foam_stock .title ul::-webkit-scrollbar {
    width: 5px;
}

section.foam_stock .title ul::-webkit-scrollbar-track {
    background-color: rgb(144, 158, 167);
}

section.foam_stock .title ul::-webkit-scrollbar-thumb {
    background-color: rgb(42, 48, 72);
}

section.foam_stock .blocks{
    position: relative;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: -webkit-grab;
}

section.foam_stock .scroll{
    display: block;
    height: 20px;
    width: 100%;
    overflow-x: scroll;
}

section.foam_stock .scroll span{
    display: block;
    height: 100%;
}

section.foam_stock .scroll::-webkit-scrollbar {
    width: 12px;
}

section.foam_stock .scroll::-webkit-scrollbar-track {
    background-color: #788691;
}

section.foam_stock .scroll::-webkit-scrollbar-thumb {
    background-color: #54626d;
}

section.foam_stock .blocks li{
    min-width: calc(50% - 2px);
    margin-left: 5px;
}

section.foam_stock .blocks li:first-child{
    margin-left: 0;
}

section.foam_stock .blocks li:first-child,
section.foam_stock .blocks li:last-child{
    min-width: calc(50% - 5px);
}

section.foam_stock .title ul li{
    height: 40px;
    line-height: 40px;
}

section ul li p.name{
    margin-bottom: 3px;
    padding: 10px;
}

section.prime_silos ul li div,
section.foam_stock ul li div{
    position: relative;
    height: 100px;
}

section.prime_silos ul li div p:first-child,
section.foam_stock ul li div p:first-child{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

section.prime_silos ul li div p:first-child span:first-child,
section.foam_stock ul li div p:first-child span:first-child{
    display: block;
    font-weight: bolder;
    font-size: 1.5rem;
}

section.prime_silos ul li div p:first-child span:first-child{
    color: #4ebda9;
}

section.prime_silos ul li div p:first-child span:first-child span,
section.foam_stock ul li div p:first-child span:first-child span{
    display: inline;
    font-size: 1.3rem;
    font-weight: lighter;
}

section.prime_silos ul li div p:last-child,
section.waste_silos ul li div p:last-child{
    position: absolute;
    background: none;
    opacity: 0.06;
    top: 0;
    right: -10px;
    width: 100%;
    height: 100%;
    line-height: 90px;
    font-family: 'Roboto';
    font-size: 12rem;
    text-align: end;
    pointer-events: none;
}

section.waste_silos ul li div{
    position: relative;
    height: 100px;
}

section.waste_silos ul li div span.status{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #e18b5c;
    opacity: 0.9;
    z-index: 1;
}

section.waste_silos ul li div span.almost-full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../svg/alert.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
    z-index: 2;
}

section.foam_stock ul li div p:first-child span:first-child{
    color: #eddb48;
}

section.logs ul li p{
    min-height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 15px;
}

section.logs ul li p:last-child{
    min-height: 39.5px;
    height: 39.5px;
}

section.resources ul li p:last-child{
    height: 60px;
    line-height: 60px;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #5aa4ce;
}

section.resources ul li p:last-child span{
    font-weight: lighter;
    font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media (min-width:481px){
    /* SHARED LAYOUT (NAV, HEADER, MAIN) */
    nav{
        width: 300px;
    }

    /* DASHBOARD SHARED CODE*/
    section ul li{
        width: calc(33.33% - 2.5px);
        margin: 2.5px 0;
    }

    /* DASHBOARD SECTION SPECIFIC*/
    section.waste_silos ul li:last-child{
        flex-grow: 0;
        min-width: calc(33.33% - 2.5px);
    }
    section.resources ul li:nth-child(4), section.resources ul li:last-child{
        flex-grow: 0;
        width: calc(50% - 2.5px);
    }
    section.foam_stock .blocks li{
        min-width: calc(25% - 2.5px);
    }
    section.foam_stock .blocks li:first-child,
    section.foam_stock .blocks li:last-child{
        min-width: calc(25% - 5px);
    }
}

@media (min-width: 920px)  {
    /* SHARED LAYOUT (NAV, HEADER, MAIN) */
    main{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    /* DASHBOARD SECTION SPECIFIC*/
    section.prime_silos{
        width: calc(66% - 10px);
        margin-right: 10px;
    }

    section.waste_silos{
        width: 34%;
    }

    section.foam_stock{
        width: calc(46% - 10px);
        margin-right: 10px;
    }

    section.logs{
        width: 54%;
    }

    section.resources{
        width: 100%;
        order: 5;
    }

    section.prime_silos ul li{
        flex-wrap: nowrap;
        width: calc(16.667% - 2.5px);
        margin-right: 2.5px;
    }

    section.prime_silos ul li:last-child{
        margin-right: 0;
    }

    section.waste_silos a{
        margin-top: 0;
    }

    section.resources ul li{
        flex-wrap: nowrap;
        width: calc(20% - 2.5px);
        margin-right: 2.5px;
    }

    section.resources ul li:last-child{
        margin-right: 0;
    }

    section.resources ul li:nth-child(4), section.resources ul li:last-child{
        width: calc(20% - 2.5px);
        min-width: 0;
    }

    /* MAKING IT SCALING ON ALL SCREEN HEIGHTS*/

    @media screen and (min-height: 670px) {
        section .title{
            height: 50px;
            line-height: 48px;
        }
    }

    @media screen and (min-height: 700px) {
        section .title{
            height: 60px;
            line-height: 58px;
        }
    }

    @media screen and (min-height: 730px) {
        section .title{
            height: 70px;
            line-height: 68px;
        }
    }

    @media screen and (min-height: 760px) {
        section.resources ul li p:last-child{
            height: 100px;
            line-height: 100px;
        }
    }

    @media screen and (min-height: 800px) {
        section.resources ul li p:last-child{
            height: 120px;
            line-height: 120px;
        }
    }

    @media screen and (min-height: 800px) {
        section .title{
            height: 80px;
            line-height: 78px;
        }
    }

    @media screen and (min-height: 850px) {
        section.prime_silos ul li div,
        section.foam_stock ul li div,
        section.waste_silos ul li div{
            height: 120px;
        }
        section.logs ul li p:last-child{
            min-height: 44.6px;
        }
    }
}

@media (min-width: 1350px) {
    /* SHARED LAYOUT (NAV, HEADER, MAIN) */
    header{
        display: none;
    }
    nav{
        width: 400px;
        left: calc(100% - 400px);
    }
    main{
        width: calc(100% - 429px);
        height: calc(100% - 30px);
    }

    /* MAKING IT SCALING ON ALL SCREEN HEIGHTS*/

    @media screen and (min-height: 620px) {
        section .title{
            height: 50px;
            line-height: 48px;
        }
    }

    @media screen and (min-height: 650px) {
        section .title{
            height: 60px;
            line-height: 58px;
        }
    }

    @media screen and (min-height: 680px) {
        section .title{
            height: 70px;
            line-height: 68px;
        }

        section a.title{
            font-size: 1.2rem;
        }

        section .title a{
            font-size: 1.2rem;
        }
    }

    @media screen and (min-height: 710px) {
        section.resources ul li p:last-child{
            height: 100px;
            line-height: 100px;
        }
    }

    @media screen and (min-height: 750px) {
        section.resources ul li p:last-child{
            height: 120px;
            line-height: 120px;
        }
    }

    @media screen and (min-height: 770px) {
        section .title{
            height: 80px;
            line-height: 78px;
        }
    }

    @media screen and (min-height: 800px) {
        section.prime_silos ul li div,
        section.foam_stock ul li div,
        section.waste_silos ul li div{
            height: 120px;
        }
        section.logs ul li p:last-child{
            min-height: 44.6px;
            line-height: 44.6px;
        }
    }

    @media screen and (min-height: 900px) {
        section.prime_silos ul li div,
        section.foam_stock ul li div,
        section.waste_silos ul li div{
            height: 151px;
        }
        section.logs ul li p:last-child{
            min-height: 52.4px;
            line-height: 52.4px;
        }
        .dot{
            margin: 0 15px 0 20px;
        }
        section.prime_silos ul li div p:last-child,
        section.waste_silos ul li div p:last-child{
            font-size: 15rem;
            right: -30px;
            top: 15px;
        }
        section.prime_silos ul li div p:first-child span:first-child,
        section.foam_stock ul li div p:first-child span:first-child{
            font-size: 1.8rem;
        }
        section.resources ul li p:last-child{
            font-size: 1.9rem;
        }
    }

    @media screen and (min-height: 915px) {
        section.resources ul li p:last-child {
            height: 180px;
            line-height: 180px;
        }
    }

    @media screen and (min-height: 935px) {
        section.resources ul li p:last-child {
            height: 200px;
            line-height: 200px;
        }
    }
}