.prime_focus, .waste_focus, .resources_focus{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
}

.prime_focus li, .waste_focus li, .resources_focus li{
    width: calc(50% - 2.5px);
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.prime_focus li:last-child, .waste_focus li:last-child{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.prime_focus li .silo_resource, .waste_focus li .silo_resource, .resources_focus .silo_resource{
    display: block;
    margin: 0;
    background-color: #54626d;
    margin-bottom: 3px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.prime_focus li .silo_fill, .waste_focus li .silo_fill, .resources_focus .silo_fill{
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #54626d;
    margin: 0;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #4ebda9;
}

.prime_focus li .silo_fill span, .waste_focus li .silo_fill span, .resources_focus .silo_fill span{
    display: inline;
    font-size: 1.3rem;
    font-weight: lighter;
}

.prime_focus li .silo_number, .waste_focus li .silo_number, .resources_focus .silo_number{
    position: absolute;
    color: #fff;
    background: none;
    opacity: 0.07;
    top: 10px;
    right: -10px;
    width: 100%;
    height: 100%;
    line-height: 90px;
    font-family: 'Roboto';
    font-size: 7rem;
    text-align: end;
    pointer-events: none;
}

.prime_focus .mngquantity, .waste_focus .mngquantity, .resources_focus .mngquantity{
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: #54626d;
    background-color: #ebebeb;
    border-left: 5px solid #54626d;
    border-right: 5px solid #54626d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.waste_focus .mngbutton, .resources_focus .mngbutton{
    height: 50px;
    width: 100%;
    background-color: #54626d;
    color: #fff;
    font-size: 1.3rem;
}

.waste_focus .mngbutton:hover, .resources_focus .mngbutton:hover{
    background-color: #758494;
}

.waste_focus .aeditbtn{
    margin-top: 5px;
}

.prime_focus .aeditbtn, .waste_focus .aeditbtn, .resources_focus .aeditbtn{
    display: block;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    background-color: #54626d;
    color: #fff;
    font-size: 1.3rem;
}

.prime_focus .aeditbtn:hover, .waste_focus .aeditbtn:hover, .resources_focus .aeditbtn:hover{
    background-color: #758494;
}

.prime_focus .add_silo a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #54626d;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 1.2rem;
}

.prime_focus .add_silo a:hover{
    background-color: #758494;
}

.prime_focus .add_silo a span{
    font-size: 1.8rem;
}

.resources_focus li{
    margin-bottom: 5px;
}

.resources_focus img.iconimg{
    background-color: #54626d;
    max-height: 150px;
}

.resources_focus .silo_fill{
    margin-bottom: 4px;
}

.resources_focus .editbtn{
    margin-top: 4px;
}

.resources_focus .stockres{
    width: 100%;
}

.resources_focus .add_resource .mngbutton{
    display: block;
    text-align: center;
    height: 421px;
    line-height: 421px;
    font-size: 4rem;
}

.resource_container{
    width: 100%;
    flex-direction: column;
}

.resource_container .addform{
    width: 100%;
}

.resource_container .addinput{
    width: 100%;
    height: 50px;
    font-size: 2rem;
    margin-top: 5px;
    outline: none;
    color: #2e3436;
}

.resource_container .addsubmit{
    width: 100%;
    height: 50px;
    font-size: 2rem;
    margin-top: 5px;
    outline: none;
    color: #fff;
    background-color: #54626d;
}

.resource_container .addsubmit:hover{
    background-color: #758494;
}

.resource_container .deletebutton{
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    margin-top: 5px;
    outline: none;
    color: #fff;
    background-color: tomato;
}

.resource_container .addlabel{
    width: calc(100% - 15px);
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    margin-top: 5px;
    color: #fff;
    background-color: #303742;
}

.resource_container .deletebutton:hover{
    background-color: #cc4d31;
}

.resource_container img{
    max-height: 150px;
}

@media (min-width:481px){
    .prime_focus li, .waste_focus li, .resources_focus li{
        width: calc(33% - 2.5px);
    }

    .waste_focus li{
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: calc(33% - 2.5px);
    }
}